/*CABEÇALHO 
*/

.container {
    padding: 1rem;
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container--login {
    padding: 1rem;
    background-color: var(--branco);
    display: flex;

    align-items: center;
}


.logo__btn {
    width: 6.25rem;
}

.logo__btn--login {
    width: 60%;
    margin: 0 1em;
}

.logo__btn--produto {
    width: 80%;
    margin: 0 1em;
}

.login__btn {
    text-align: center;
    border: 1px solid var(--botao-azul);
    padding: 0.75rem 1rem;
    color: var(--botao-azul);
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1rem;
    width: 8.25rem;
}

.cabecalho__pesquisa {
    display: none;
}

.cabecalho__pesquisa--login {
    display: none;
}

.cabecalho__pesquisa--produto {
    display: none;
}

.lupa {
    padding: .5rem 1rem;
    border-radius: 1.25rem;
    border: 0;
}

.lupa--login {
    position: relative;
    align-items: center;
    width: 18px;
    margin-left: 7em;
    display: block;
}

.cabecalho__mobile {
    display: none;
}


.lupa:checked~.login__btn.lupa {
    display: block;
}

@media screen and (min-width: 768px) {



    .lupa {
        display: none;
    }

    .lupa--login {
        display: none;
    }

    .logo__btn--login {
        width: 56%;
    }

    .logo__btn--produto {
        width: 56%;
    }

    .cabecalho__pesquisa {

        border-radius: 20px;
        font-size: 0.9em;
        font-weight: 400;
        font-family: var(--fonte-principal);
        color: var(--preto-mensagem);
        padding: 1em 1.9em;
        border: none;
        width: 40%;
        display: block;
        margin-right: 4em;

    }

    .cabecalho__pesquisa--login {
        background: var(--search);
        border-radius: 20px;
        font-size: 0.9em;
        font-weight: 400;
        font-family: var(--fonte-principal);
        color: var(--preto-mensagem);
        padding: 1em 1em;
        width: 272px;
        border: none;
        display: block;
        margin: 0 0 0 1em;
    }

    .cabecalho__pesquisa--produto {
        background: var(--search);
        border-radius: 20px;
        font-size: 0.9em;
        font-weight: 400;
        font-family: var(--fonte-principal);
        color: var(--preto-mensagem);
        padding: 1em 1em;
        width: 272px;
        border: none;
        display: block;
        margin: 0 0 0 1em;
    }

    .login__btn {
        margin-right: 3em;
        padding: 1em 0;
        width: 25%;
    }



    .lupa__input {
        position: absolute;
        padding-left: 2em;
        color: var(--preto-mensagem);
    }

    .cabecalho__mobile {
        display: none;
    }
}


@media screen and (min-width: 1300px) {
    .logo__btn {
        width: 1%;
        margin-left: 1.5em;
    }

    .cabecalho__pesquisa {
        padding: 0.8em 0;
        width: 40em;
        margin-left: 1em;
        padding-left: 1em;
    }

    .cabecalho__pesquisa--login {
        font-size: 1em;
        padding: 0.8em 0;
        width: 20em;
        margin-left: 1em;
        padding-left: 1em;
    }

    .cabecalho__pesquisa--produto {
        font-size: 1em;
        padding: 0.8em 0;
        width: 30em;
        margin-left: 1.5em;
        padding-left: 1em;
    }

    .login__btn {
        margin-right: 7.3em;
        padding: 1em 2em;
        width: 15%;
    }

    .logo__btn--login {
        width: 60%;
        margin: 0 2em;
    }

    .login__btn:hover {
        background: #B1DCFE;

    }
}

@media screen and (min-width: 1440px) {
    .logo__btn {
        width: 13%;
        margin-left: 11.5em;
    }

    .cabecalho__pesquisa {
        padding: 0.8em 0;
        width: 30em;
        margin-left: 1.5em;
        padding-left: 1em;
    }

    .cabecalho__pesquisa--login {
        font-size: 1em;
        padding: 0.8em 0;
        width: 30em;
        padding-left: 1em;
    }

    .cabecalho__pesquisa--produto {
        font-size: 1em;
        padding: 0.8em 0;
        width: 30em;
        margin-left: -4em;
        padding-left: 1em;
    }

    .login__btn {
        margin-right: 12em;
        width: 15%;
        padding: 1em 0;
    }

    .logo__btn--login {
        width: 40%;
        margin: 0 8em;
    }

    .logo__btn--produto {
        width: 40%;
        margin: 0 11.5em;
    }

    .login__btn:hover {
        background: #B1DCFE;

    }
}


@media screen and (min-width: 1728px) {

    .logo__btn {
        width: 13%;
        margin-left: 12em;
    }

    .cabecalho__pesquisa {
        font-size: 1em;
        padding: 0.8em 0;
        width: 45em;
        margin-left: 3em;
        padding-left: 1em;
    }

    .login__btn {
        margin-left: 31.5em;
        padding: 1em 2em;
    }

    .login__btn:hover {
        background: #B1DCFE;

    }
}