.banner {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%), url('../../img/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2em 1em;
}

.banner__texto {
    margin: 2em 0.3em;
}

.banner__texto-titulo {
    font-size: 1.4em;
    color: var(--branco);
    font-weight: 700;
}

.banner__texto-descricao {
    font-size: 0.9em;
    color: var(--branco);
    font-weight: 600;
    margin: 1em 0;
}

.banner__botao {
    border: 2px solid var(--botao-azul);
    background: var(--botao-azul);
    color: var(--branco);
    text-decoration: none;
    padding: 0.5em 1em;
    margin: 0 0.3em;
    font-weight: 600;
}

@media screen and (min-width: 768px) {
    .banner {
        padding: 4em 1em;
        height: calc(45vw - 30px);
    }

    .banner__texto {
        padding-top: 1.7em;
    }

    .banner__texto-titulo {
        font-size: 3.5em;
        font-weight: 700;
        margin: 0 0.1em;
    }

    .banner__texto-descricao {
        font-size: 1.5em;
        font-weight: 700;
        margin: 1em 0.4em;
    }

    .banner__botao {
        font-size: 1em;
        font-weight: 600;
        margin: 1em 1em;
    }

}

@media screen and (min-width: 1300px) {

    .banner {
        padding: 1em 1em;
        height: calc(27vw - 30px);
    }

    .banner__texto {
        padding-top: 5em;
        padding-left: 6.5em;

    }

    .botao__p {
        padding-left: 6.5em;
    }

}

@media screen and (min-width: 1440px) {
    .banner {
        padding: 1em 1em;
        height: calc(28vw - 30px);
    }

    .banner__texto {
        padding-top: 8em;
        padding-left: 10em;

    }

    .botao__p {
        padding-left: 10em;
    }

    .banner__botao {
        padding: 1em 2em;
    }
}

/*
@media screen and (min-width: 1728px) {
    .banner {
        padding: 1em 1em;
        height: calc(23vw - 30px);
    }

    .banner__texto {
        padding-top: 10em;
        padding-left: 8.5em;
    }
}
*/